.card {
    margin-left: 5px;
    margin-right: 5px;
    background-color: $color-secondary;
}

.card-body {
    height: 100px;
}

.card-title {
    color: $white;
    font-weight: 700;
}

.card-text {
    color: $white;
}
